.App {
  width: 1400px;
  margin: 0 auto;
  padding-top: 10%;
}

/* 边框 */
.global-border {
  /* border: 1px solid blue; */
  background-color: #eeeeee;
  border-radius: 10px;
}


.ready-room-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* justify-content: center; */
  margin: 0 auto;
  overflow: hidden;
}

/* 准备房间 */
.ready-container {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.start-btn{
  margin: 0 auto;
  width: 45%;
}



/* gameroom */
/* 在线列表 */
.online-items {
  width: 120px;
  height: 120px;
  margin: 5% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
