.App {
  width: 1200px;
  height: 100%;
  /* text-align: center; */
  margin: 2% auto 3% auto;
}

/* 边框 */
.global-border {
  border: 1px solid blue;
  border-radius: 10px;
}


.ready-room-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

/* 准备房间 */
.ready-container {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

/* 在线列表 */
.online-items {
  width: 120px;
  height: 120px;
  margin: 5% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
